@font-face {
  font-family: "Rancho";
  src: url(../../public/fonts/Rancho-Regular.ttf);
}

:root {
  --bg: #440028;
  --bg2: #651142;
  --hvr: #D1258A;
  --bdr: #a95486;
  --shadow: #A95486;
  --fg: #CB87AF;
  --txtFont: "Rancho";
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    145deg,
    var(--bg),
    var(--bg2),
    var(--bg)
  );
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

header, footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

header { border-bottom: 2px solid var(--bdr); }
footer { border-top: 2px solid var(--bdr); }

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

footer {
  justify-content: space-evenly;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 5px 10px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#app-icon {
  width: 120px;
  height: 120px;
  border-radius: 30px;
}

#title,
#subtitle,
#loading-text,
#footer-text,
#footer-link {
  font-family: var(--txtFont);
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--fg);
}

#subtitle {
  margin-top: -5px;
}

#title,
#subtitle {
  text-align: end;
  width: 90%;
}

#footer-text,
#footer-link {
  font-size: 1.2rem;
}
