@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rancho";
  src: url(../public/fonts/Rancho-Regular.ttf);
}

:root {
  --bg: #440028;
  --bg2: #651142;
  --shadow: black;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    145deg,
    var(--bg),
    var(--bg2),
    var(--bg)
  );
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--bg2);
  border-radius: 6px;
}

::-webkit-scsrollbar-thumb:hover {
  background: var(--hvr);
}

.textShadow {
  text-shadow: 2px 2px var(--shadow);
}
